
<table class="table table-striped">
  <thead>
    <tr>
      <th>GAngsters</th>
      <th>Killin it since</th>
    <tr>
      <tbody>
        <% @users.each do |u|%>
        <tr>
          <td><%= link_to "#{u.name.capitalize}", user_path(u)%></td>
          <td><%= u.birthday%></td>
          <%end%>
        </tr>
      </tbody>
    </table>
