<h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>
<div class="">
  <% @posts.each do |p| %>
  <p><%= p.body %></p>
  <p>
    <% if p.user %>
    Created by: <%= p.user.name %>
    <%else%>
    Created by: Anonymous
    <%end%>
  </p>
  <% end %>
</div>
