<h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>

<% @posts.each do |post|%>
<div class="">
  <%= link_to post.body, post_path(post) %>
  <% if post.user.id == current_user.id %>
  <%= link_to 'Delete' , post, method: :delete%>
  <%= link_to 'Edit' , edit_post_path(post)%>
  <%end%>
  <%end%>
</div>
