


<%= form_for @post do |f|%>
Title: <%= f.text_area :title, class: "form-control"%>
Body: <%= f.text_area :body, class: "form-control"%>
Picture: <%= f.text_area :picture, class: "form-control"%>
<button type="submit" class="btn btn-primary">Add Post</button>
<% end %>
