<h1>Posts#show</h1>
<p>Find me in app/views/posts/show.html.erb</p>
<% @posts.each do |f| %>
<%= f.body %>
<%end%>
<div class="">
  <% @post.comments.each do |c| %>
  <p><%= c.body %></p>
  <p>
    <% if c.user %>
    Created by: <%= c.user.name %>
    <%else%>
    Created by: Anonymous
    <%end%>
  </p>
  <% end %>
</div>
